<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>wild cats</title>
</head>
<body>
    
    <div class="container">
       <nav>
           <ul>
               <h2>WILD-CATS</h2>
               <li><a href="index.html">home</a></li>
               <li><a href="/menu">menu</a></li>
               <li><a href="services.html">service</a></li>
              
           </ul>
           

       </nav>

        <div class="main">
            <div class="mains">
                <h1 style="font-family:arial;font-weight:bold;">Are you hungry?</h1>
                <h3>don't wait!!!</h3>
                <br/>
                <h3 style="color:white;font-family:sans-serif;">lets order some pizza right away?</h3>
                 <button><a id="specialsbtn" href="/order">check out our specials</a></button>
            </div>

        </div> <!--main closing taag-->

        <div class="samples">
            <div id="samplehead"><h2>Most Ordered</h2></div>
        </div>

        <div class="flex">
            <div class="box">
                    <img src="./img/pizza1.jpeg" alt="" /> 
                    <div >
                        <h2 align="center">pizza one</h2>
                        <h3 style="color:blue;" align="center">$37.00 each</h3>
                        <h4 style="color:blue;" align="center">specials</h4>
                      
                        <div style="display:flex;justify-content: center; margin:8px;"> <!--align button to center-->
                            <button class="carts"><a href="/menu"> order</a></button>
                        </div> 
                    </div>
         </div>  <!--box closing tag-->

            <div class="box">
                      <img src="./img/pizza2.jpg" alt="" />
                      <div >
                        <h2 align="center">pizza two</h2>
                        <h3 style="color:blue;" align="center">$37.00 each</h3>
                        <h4 style="color:blue;" align="center">specials</h4>
                      
                        <div style="display:flex;justify-content: center; margin:8px;">  <!--align button to center-->
                            <button class="carts"><a href="/order"> order</a></button>
                        </div> 
                 
                    </div> <!--box closing tag-->
            </div>

            <div class="box">
                    <img src="./img/pizza1.jpeg" alt="" />
              <div >
                <h2 align="center">pizza three</h2>
                  <h2 style="color:blue;" align="center">$37.00 each</h2>
                  <h4 style="color:blue;" align="center">specials</h4>
                
                  <div style="display:flex;justify-content: center; margin:8px;"> <!--align button to center-->
                      <button class="carts"><a href="/menu"> order</a></button>
                  </div> 
              
                </div>
                
            </div> <!--box closing tag-->

        </div> <!--flex closing tag-->

        <div class="flex2">
            <div class="flexbox">
                <h2 class="foothead">About Wild Cats</h2>
                <p>Wild-Cats is a pizza store created to serve <br/>
                the best pizza in Lagos state, it was founded in <br/>
                 2001 by Joshdgeek a software developer at Andela.
                </p>
                   
            </div>
            <div class="flexbox">
                <h2 class="foothead">Latest News</h2>
                <p>
                    jerky shunk chicken boudin <br/>february 2020 <hr/>
                </p>

                <p>
                    peperoni with black olives<br/>february 2020 <hr/>
                </p>

                <p>
                    meatball beff special<br/>August 2020 
                </p>
            </div>
            <div class="flexbox">
                <h2 class="foothead">Master chefs</h2>
                <ul>
                    <li><h4>Ariana Grande</h4> <hr/></li>
                    <li><h4>Aubrey Drake</h4> <hr/></li>
                    <li><h4>BIll Gates</h4> <hr/></li>
                    <li><h4>Broda Shaggy</h4></li>
                </ul>
            </div>

            <div class="flexbox">
                <h2 class="foothead">Service offers</h2>
                <ul>
                    <li><h4>Wedding occasions</h4> <hr/></li>
                    <li><h4>Birthday party</h4> <hr/></li>
                    <li><h5>Company party</h5> <hr/></li>
                    <li><h5 align="center">celebration</h5> </li>
                </ul>
            </div>
        </div>


    </div>

    <footer>
        <h3><a href="https://web.facebook.com/Joshua.osinachi.322">JOSHDGEEK</a></h3>
    </footer>

</body>
</html>
